/* reset rules  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Poppins', sans-serif;
    max-width: 80%;
    margin:auto;
}

/* attivala o disattivala per vedere i bordi */
/* .debug {
    border: 1px solid red;
} */

header{
    text-align: center;
}
#title{
    padding: 20px 0px;
    color:rgb(229, 49, 112);
}

header p{
    padding-bottom:20px ;
}

/* creo regola di clearfix */
.clearfix::after{
    content:'';
    clear: both;
    display: table;
}
.columns{
    max-width: 100%;
}
.col{
    width: calc(100% / 3);
    padding: 30px 20px;
}

.scheda{
    width: 100%;
    background-color: black;
    color: white;
}

/* coloro i link  */
.scheda a{
    color:aqua;
}
.scheda a:hover, footer a:hover{
    color:red;
}

footer a{
    color:green;
}


.nomeCognome{
    font-weight: 800;
}

/* con questa width la info non va piu sotto la foto */
.info{
    width:66%;
}
.cornice{
   width: calc(100% / 3);
}
.profilePic {
   width: 100%;
}


.nomeCognome, .professione, .contact{
    padding: 10px;
    width: 100%;
}

.col, .scheda, .info, .profilePic, .cornice{
    float: left;
}

footer{
    text-align: center;
}