/* reset rules  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* regole debug */


body {
    font-family: 'Noto Sans', sans-serif;
    max-width: 80%;
    margin:auto;
}

.debug {
    border: 1px solid red;
}

header{
    text-align: center;
}
header h1{
    color:rgb(229, 49, 112);
}

/* creo regola di clearfix */
.clearfix::after{
    content: '';
    clear: both;
    display: table;
}

.col{
    width: calc(100% / 3);
}

.scheda{
    width: calc(100% -60px);
    background-color: black;
    color: white;
    margin: 25px 30px;
}

.scheda a{
    color:aqua;
}
.scheda a:hover{
    color:red;
}



.nomeCognome{
    font-weight: 900;
}

.profilePic, .info {
    width: calc(100% / 3);
}

.nomeCognome, .professione, .contact{
    padding: 10px;
}

.col, .scheda, .info, .profilePic{
    float: left;
}
