/* reset rules  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* regole debug */


body {
    font-family: 'Noto Sans', sans-serif;
    width: 80%;
    margin:auto;
}

.debug {
    height: 150px;
    border: 1px solid red;
}

header{
    text-align: center;
}
header h1{
    color:rgb(229, 49, 112);
}

/* creo regola di clearfix */
.clearfix::after{
    content:'';
    clear: both;
    display:table;
}

.col{
    float: left;
    width: calc(100% / 3);
    padding: 10px;
}

.scheda{
    width: 100%;
    float:left;
}