/* reset rules  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* attivala o disattivala per vedere i bordi */
.debug {
    border: 1px solid red;
}

body {
    font-family: 'Poppins', sans-serif;
    /* min-width: 85%;
    margin:auto; */
}


header{
    text-align: center;
}

#title{
    font-size:50px;
    padding: 20px 0px;
    color:rgb(229, 49, 112);
}

header p{
    padding-bottom:20px;
    font-weight:300;
    color: rgb(28, 28, 28);
}

/*creo le flexboxes*/
.container, .card, .info{
    display: flex;
}

.container{
    justify-content:center;
    flex-wrap: wrap;
}

.card{
    padding: 20px;
}
.card > img{
   flex-basis: calc(100% / 3);
}

.card > .info{
    flex-basis: calc(100% / 3 * 2);}

.info{
    flex-direction: column;
    justify-content: center;
    color: white;
    background-color: black;
    padding: 15px;

}

/* coloro i link  */
a {
    text-decoration: none;
    display: block;
}
.card a{
    color:aqua;
}
.card a:hover, footer a:hover{
    color:red;
}

footer a{
    color:green;
}


footer{
    text-align: center;
}